[Unit]
Description=ShellGPT Docker Container
After=network.target docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a shellgpt
ExecStop=/usr/bin/docker stop shellgpt

[Install]
WantedBy=multi-user.target
